beautifulsoup4
Flask
fonttools
gast
google-auth
google-auth-oauthlib
google-pasta
grpcio
h5py
idna
Jinja2
joblib
Keras
Keras-Applications
Keras-Preprocessing
kiwisolver
Markdown
MarkupSafe
numpy
oauthlib
pandas
Pillow
pyparsing
python-dateutil
pytz
PyYAML
requests
requests-oauthlib
rsa
scikit-learn
setuptools
setuptools-scm
six
soupsieve
tensorboard
tensorflow-cpu
tensorflow-estimator
threadpoolctl
tomli
Werkzeug==1.0.0
wheel
wrap